In [7]:
import pandas as pd
'''high	greater	3,30%
medium	greater	1%
low	greater	0,10%
very low	greater	0%'''

hello

In [19]:
flooding = pd.read_csv('/Users/nilsrenziehausen/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Coding/Projekt/open_flood_risk_by_postcode.csv')
regions = pd.read_csv('/Users/nilsrenziehausen/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Coding/Projekt/Regions.csv', sep=";")

In [100]:
flooding.head()

   AL10 0AA  \N  None \N.1 \N.2 \N.3  522503  208775  51.764264  -0.226254
0  AL10 0AB  \N  None   \N   \N   \N  522680  209765  51.773122  -0.223341
1  AL10 0AD  \N  None   \N   \N   \N  522997  209812  51.773475  -0.218732
2  AL10 0AE  \N  None   \N   \N   \N  522530  209750  51.773020  -0.225519
3  AL10 0AG  \N  None   \N   \N   \N  522515  209794  51.773419  -0.225721
4  AL10 0AH  \N  None   \N   \N   \N  522677  209836  51.773761  -0.223359

In [143]:
## Extracting only the postcode and the flooding risk from the data
f = flooding[["AL10 0AA", "None"]].copy()
f["AL10 0AA"] = f["AL10 0AA"].str[:2]
f["AL10 0AA"] = f["AL10 0AA"].str.strip()
regions["Postcode Area"] = regions["Postcode Area"].str.strip()

## Replacing postcodes with corresponding Regions

postcode_areas = [i for i in regions["Postcode Area"]]
region_list = [i for i in regions["Region"]]

codes = [i for i in f["AL10 0AA"]]
risk = [i for i in f["None"]]

#List with region names that correspond to the list for the risk
final_reg = []


for i in codes:
    if i in postcode_areas:
        x = postcode_areas.index(i)
        final_reg.append(region_list[x])
    elif i[0] in postcode_areas:
        x = postcode_areas.index(i[0])
        final_reg.append(region_list[x])

#print(len(final_reg)==len(codes))

#print(set(risk))
#print(set(region_list))
#print(len(risk))

'''final = [["risk"]]

#setting up the panes
for i in set(region_list):
    final.append([i])
for j in set(risk):
    final[0].append(j)

final = pd.DataFrame(final)
# replacing the header
final.columns = final.iloc[0]
final = final[1:]'''

# creating list of doubles [risk, region]

doubles = list(map(lambda x, y: [x,y], risk, final_reg))
uniques = []
for i in doubles:
    if i not in uniques:
        uniques.append(i)

#print(uniques)

ll = []

for i in uniques:
    ll.append(doubles.count(i))

#print(ll)

final = pd.DataFrame(uniques, ll)
final.head()

cwd = os.getcwd()
path = cwd + "/results.csv"
final.to_csv(path)

# counting the doubles and adding them into the data frame